<div class="author">
  <h1 class="author_heading">Hi, i am Giannis.</h1>
  <p class="author_body">Aspiring Software Developer</p>
</div>

<img
  src="/img/photo-1473830394358-91588751b241.avif"
  alt="person looking out the window"
  class="hero-image"
  width="981"
  height="528"
/>

<section class="articles">
  <h2 class="articles_heading">Latests Ports</h2>
  <ul class="article-ul">
    <% data.forEach(post => { %>
    <li>
      <a href="/post/<%= post._id %>">
        <span><%= post.title %></span>
        <span class="article-list_date"
          ><%= post.createdAt.toDateString() %></span
        >
      </a>
    </li>
    <% }) %>
  </ul>

  <% if (nextPage !== null) { %>
  <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>

  <% } %>
</section>
