@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap");

:root {
  --black: #1c1c1c;
  --gray: #7e7e7e;
  --gray-light: #e4e4e4;
  --red: #b30000;
  --font-size-base: 1rem;
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --border-radius: 10px;
}

body {
  font-family: "DM Serif Text", serif;
  font-weight: 300;
  font-style: normal;
  color: var(--black);
  font-size: var(--font-size-base);
  background-color: #faf5ee;
  background-image: url("/img/img-noise-361x370.png");
  margin: 0;
}

a {
  color: var(--black);
}
h1 {
  font-size: var(--font-size-xl);
}
h2 {
  font-size: var(--font-size-lg);
}
h3 {
  font-size: var(--font-size-md);
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
select,
textarea {
  font-family: "DM Serif Text", serif;
  font-size: var(--font-size-base);
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.7rem 0.75rem;
  margin-bottom: 1rem;
}

.btn {
  background-color: var(--black);
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.btn-delete {
  padding: 10px 16px;
  background-color: var(--red);
}

img {
  width: 100%;
  height: auto;
}

/* Layout */
.container {
  max-width: 982px;
  margin: 0 auto;
  padding: 0 10px;
}

.main {
  padding: 20 0px;
}

.hero-image {
  max-height: 528px;
  filter: drop-shadow(0px 44px 34px rgba(0, 0, 0, 0.25));
  overflow: hidden;
  border-radius: var(--border-radius);
}

/* Main Header */
.header {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  padding-top: 10px;
  grid-template-areas:
    "logo button"
    "menu menu";
}

@media only screen and (min-width: 768px) {
  .header {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "logo menu button";
  }
}

.header_logo {
  grid-area: logo;
  font-weight: 800;
  font-size: 25px;
  text-decoration: none;
}
.header_logo:hover {
  text-decoration: underline;
}
.header_nav {
  grid-area: menu;
  display: flex;
  justify-content: center;
}
.header_button {
  grid-area: button;
  display: flex;
  justify-content: end;
}
.header_button button {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  border: 0;
  padding: 6px 12px;
  background: none;
  border-radius: var(--border-radius);
  border: 2px solid transparent;
  font-size: var(--font-size-base);
  font-weight: 600;
  color: var(--black);
}

.header_button button:hover {
  border: 2px solid var(--black);
}

.header_nav ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  font-weight: 600;
  padding: 0;
}

.header_nav ul a {
  padding: 10px;
  text-decoration: none;
}
.header_nav ul a:hover {
  text-decoration: underline;
}

.header_nav ul a.active {
  color: var(--gray);
}

/* Author Homepage */
.author {
  padding: 10px;
  text-align: center;
}

.author_heading {
  margin-top: 10px;
  margin-bottom: 5px;
}

.author_body {
  font-size: var(--font-size-md);
  margin: 5px 0 40px 0;
}

/* Article List */
.articles_heading {
  margin-top: 4rem;
  font-weight: 400;
}

.article-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: var(--font-size-md);
  display: flex;
  flex-direction: column;
}

.article-list_date {
  font-size: var(--font-size-base);
  color: var(--gray);
  width: 260px;
  display: inline-block;
}

.article-ul li a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  margin: 18px 0;
}

@media only screen and (min-width: 768px) {
  .article-ul li a {
    flex-direction: row;
    align-items: center;
  }

  .article-list_date {
    text-align: right;
  }
}

.article-ul li {
  font-size: 24px;
  cursor: pointer;
  transition: filter 0.1s;
}

.article-ul li:not(:last-child) {
  border-bottom: 1px solid var(--gray-light);
}

.article-ul li:hover {
  filter: none;
}

.article-ul:hover li {
  filter: blur(3px);
}
.article-ul:hover li:hover {
  filter: none;
}

.pagination {
  font-size: 1.3rem;
  color: var(--gray);
  text-decoration: none;
  margin-top: 30px;
  display: inline-block;
}
.pagination:hover {
  color: var(--black);
}

.articles {
  white-space: pre-wrap;
}

/* Footer */
.footer {
  margin: 4rem;
  text-align: center;
}

.search_bar {
  visibility: hidden;
  transform: translateY(-100px);
  background-color: var(--black);
  padding: 4px 0;
  position: absolute;
  left: 0;
  right: 0;
}

.search_bar.open {
  transform: translateY(0);
  transition: transform 0.1s;
}

.search_bar input {
  margin: 0;
  padding: 0;
}

#searchClose {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--gray-light);
  padding: 15px;
}

.admin-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin-posts {
  padding: 0;
  margin: 0;
}

.admin-posts-controls {
  display: inline-block;
}

.admin-posts-controls .btn {
  display: inline-block;
  background-color: var(--black);
  color: var(--gray-light);
  border: 0;
  text-decoration: none;
  font-size: 0.8rem;
  padding: 4px 8px;
  line-height: 2;
}

.admin-posts li {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
